%div#abbrev_form
  %form{id: 'new_abbrev', method: 'post', action: '/abbreviations'}
    .row
      %label{for: 'word'} Word
      %input.span3{type: 'text', id: 'abbrev_word', name: 'abbreviation[word]' }
    .row
      %div#abbreviations
        %label{for: 'abbreviations'} Abbreviations
        %input.span3{type: 'text', id: 'abbreviation_abbreviation', name: 'abbreviation[abbreviations][1]' }
    .row
      %button.btn.btn-info.btn-mini{id: 'new_abbreviation', type: 'button'} 
        Add another abbreviation
    %br
    .row
      %input.btn.btn-success{type: 'submit', value: 'New abbreviation', name: 'commit'}

:coffee
  $ ->
    abbrev_counter = 1
    $('#new_abbreviation').click ->
      abbrev_counter = abbrev_counter + 1
      first = "<br><input class='span3' type='text' id='abbreviation_abbreviation"
      second = "' name='abbreviation[abbreviations]["
      third = "]'>"
      field_str = first + abbrev_counter + second + abbrev_counter + third
      console.log field_str

      $('#abbreviations').append(field_str)
