%h2 Abbreviation List
%table.table.table-bordered
  %thead
    %tr
      %td Word
      %td Abbreviations
  %tbody
    - @abbrevs.each do |ab|
      %tr
        %td
          = link_to ab.word, edit_abbreviation_path(ab)
        %td
          = ab.abbreviations.join(', ')
