%h2 #{formatted_code_number(@code)} - #{@code.name}

%h3 Patterns
%ul
  - @code.patterns.each do |pattern|
    %li
      = link_to pattern.regex, pattern

= link_to "add new match for this code", new_match_path(code: @code.full_name)
